# Environment variables
.env
.venv/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class

# Models (should be generated locally)
models/*.pkl

# Logs (internal tracking)
logs/*.json
logs/*.jsonl
logs/summaries/*.json

# Jupyter Notebooks & checkpoints
.ipynb_checkpoints/
*.ipynb

# OS & IDE files
.vscode/
.DS_Store
Thumbs.db
*.bat